[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
numpy = "*"
sumy = "*"
html2text = "*"
googlesearch-python = "*"
flask = "*"
flask_cors = "*"
python-slugify = "*"
urwid = "*"

[dev-packages]

[requires]
python_version = "3.8"
